<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RSS Feed</title>
</head>
<body>
    <a href="/">Back to Home</a>

    {{if .Message}}
        <p>{{.Message}}</p>
    {{end}}
</body>
</html>
