<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RSS Feed</title>
</head>
<body>
    <a href="/">Back to Home</a>

    <h1>Channels</h1>
    <ul>
        {{range .}}
            <li>
                <a href="/channels/{{.Id}}">{{.Title}}</a>
            </li>
        {{end}}
    </ul>
</body>
</html>
