<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RSS Feed</title>
</head>
<body>
    <a href="/">Back to Home</a><br>
    <a href="/channels/">Back to Channels</a>

    <h1>{{.Title}}</h1>
    <h4>{{.PubDate}}</h4>
    <p>{{.Description}}</p>
</body>
</html>
